doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")

    // icons & favicons
    link(rel="shortcut icon", href=staticUrl('waigo:/img/logo_114x114.png'))

    //if IE
      link(rel="shortcut icon", href=staticUrl('waigo:/img/logo_32x32.ico'))
    // set for IE10 win
    meta(name="msapplication-TileColor", content="#000")
    meta(name="msapplication-TileImage", content=staticUrl('waigo:/img/logo_144x144.png'))

    // styles
    link(rel="stylesheet", href=staticUrl('waigo:/css/style.css'))

    block title
      title Waigo

  body
    block pre_header

    block header
      header
        nav.navbar.navbar-fixed-top.navbar-inverse(role="banner")
          .navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#topmenu-navbar-collapse")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href='/')
              block topbar_title 
                span Waigo
          #topmenu-navbar-collapse.navbar-collapse.collapse(role="navigation")
            ul.nav.navbar-nav.navbar-right
              li
                a(href="/admin", title="Admin")
                  i.fa.fa-gears
              if currentUser
                li
                  a(href="/user/logout", title="Logout")
                    i.fa.fa-sign-out

    main.container
      block main_content

    script(type="text/javascript", src=staticUrl('waigo:/lib/jquery-2.1.3.min.js'))
    script(type="text/javascript", src=staticUrl('waigo:/js/vendor.js'))
    block scripts
