include mixins/all


doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")

    // icons & favicons
    link(rel="shortcut icon", href=staticUrl('waigo:/img/logo_114x114.png'))

    //if IE
      link(rel="shortcut icon", href=staticUrl('waigo:/img/logo_32x32.ico'))
    // set for IE10 win
    meta(name="msapplication-TileColor", content="#000")
    meta(name="msapplication-TileImage", content=staticUrl('waigo:/img/logo_144x144.png'))

    // styles
    block css
      link(rel="stylesheet", href=staticUrl('waigo:/css/app.css'))

    block title
      title Waigo

  body
    block pre_main_content_container

    block main_content_container
      main.container
        if alert
          +msg('info', alert)
        block main_content

    block scripts
      script(type="text/javascript" src=staticUrl('waigo:/js/app.js'))

    if 'development' == config.mode
      script.
        (function() {
          var lrHost = location.protocol + '//' + location.hostname + ':53235';
          var s = document.createElement('script');
          s.async = true;
          s.setAttribute('src', lrHost + '/livereload.js');
          document.body.appendChild(s);
        })();

