mixin msg(type, header, description, options)
  - type = ('error' === type ? 'danger': type )
  div(class="msg")
    if (_.get(options, 'compact'))
      div(role="alert", class="alert alert-" + type)
        span #{header}
    else
      div(class="panel panel-" + type)
        .panel-heading
          h3.panel-title
            if ('danger' == type)
              i.fa.fa-warning
            else if ('info' == type)
              i.fa.fa-info
            span #{header}
        if description
          .panel-body
            p #{description}
            block


mixin form(form, error)
  form(method=(form.method || 'post'), class=(error ? 'error' : ''))
    if error
      if error.errors
        +msg('error', error.msg)
        if error.errors
          ul
          - each fieldErrors, fieldName in error.errors
            - each fieldError in fieldErrors
              li #{form.fields[fieldName].label || fieldName}: #{fieldError}
      else
        +msg('error', error.msg)

    - each fieldName in form.order
      - var field = form.fields[fieldName]
      - var errors = _.get(error, 'errors.' + fieldName + '.data', [])
      - var value = field.value || ''
      - var placeholder = field.placeholder || field.label
      .form-group
        if (field.type == 'text' || field.type == 'password')
          label #{field.label}
          - each errorMsg in errors
            +msg('error', errorMsg, null, { compact: true })
          input(name=field.name, class="form-control" type=field.type, value=value, placeholder=placeholder)
        else if (field.type == 'hidden')
          input(name=field.name, type="hidden", value=value)
    input.btn.btn-primary(type="submit", value="Submit")


