extends _layout

block title
  title Error #{status}

block main_content
  h1 #{status} - #{type}

  p 
    strong #{request.method} #{request.url}

  div #{msg}

  if !_.isEmpty(stack)
    pre #{stack.join("\n")}

    if !_.isEmpty(details)
      - each data, key in details
        strong #{key}:
        pre= data


