extends _layout

block title
  title Error #{status}

block main_content
  h1 #{status} - #{type}

  section.well
    p 
      strong #{request.method} #{request.url}

    div #{msg}

    if stack
      pre #{stack.join("\n")}


