include ../mixins/all

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")

    // styles
    link(rel="stylesheet", href=staticUrl('waigo:/admin/admin-vendor.css'))
    link(rel="stylesheet", href=staticUrl('waigo:/admin/admin.css'))

    title Admin dashboard

  body
    header
      .navbar-fixed
        nav
          .nav-wrapper
            a.brand-logo(href="/") Waigo
            a.button-collapse(href="#", data-activates="mobile-menu")
              i.mdi-navigation-menu
            ul#nav-mobile.right.hide-on-med-and-down
              li
                a(href="/admin", title="Admin")
                  i.fa.fa-gears
              if currentUser
                li
                  a(href="/user/logout", title="Logout")
                    i.fa.fa-sign-out

    main#admin_container
      .row
        #admin_menu.col.s2
          .collection
            - each item in adminMenu
              - var className = 'collection-item ' + (matchesCurrentUrl(item.path) ? 'active': '');
              a(class=className, href=item.path) #{item.label}
        #admin_content.col.s10
          block main_content


    script(type="text/javascript" src=staticUrl('waigo:/admin/admin-vendor.js'))
    script(type="text/javascript" src=staticUrl('waigo:/admin/admin.js'))

